{% extends "form/base.html" %}
{% block content %}

    <!-- <div class="content-section"> -->
        <h1>This is home page</h1>
    <!-- </div> -->

    <br>
    <br>
        
    <div  class="content-section">
        <font size="6px">
            <a class="nav-item nav-link" href="{% url 'form-form' %}">Add surgery data</a>
        </font>
    </div>

    <!-- <div class="content-section"> -->
        <!-- <div>
            <h5>Enter patient ID</h5>
            <input type="text" value="" name="patient_id_input">
            <a class="nav-item nav-link" href="{% url 'form-edit' %}">Edit Surgery data</a>
        </div> -->

        {% if request.user.is_superuser %}
        
        <div class="content-section">
            <font size="6px">
                <a class="nav-item nav-link" href="{% url 'dataeditor-home' %}">Edit Form format variables</a>
            </font>
        </div>

        <div class="content-section">
            <font size="6px">
                <a class="nav-item nav-link" href="{% url 'dashboard-home' %}">Show dashboard  </a>
            </font>
        </div>

        {% endif %}
    <!-- </div> -->

    <div class="content-section">
        <h2> &nbsp; Edit surgery data </h2>
        <br>
        <form method="POST" id="patient_id" name="patient_id">
            {% csrf_token %}<!-- csrf token for safety -->
            <label for="patient_id">&nbsp;&nbsp;&nbsp; Enter Patient ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
            <input type="text" id="patient_id" name="patient_id">
            <input type="submit" value="Submit" >
        </form>
    </div>


    <div class="content-section">
        <h4>  &nbsp; Report a Bug</h4>
        <br>
        <form method="POST" id="bug_report" name="bug_report">
            {% csrf_token %}<!-- csrf token for safety -->
            <label for="bug_report"> &nbsp;&nbsp;&nbsp; </label>
            <input type="text" id="bug_report" name="bug_report">
            <input type="submit" value="Submit" >
        </form>
    </div>


{% endblock content %}