<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="row">
        <!-- <label>Select Hospital
        <input list="hospitals" name="mantra_hospitals" /></label>
        <datalist id="hospitals" >
            <option value="RGCI"></option>
            <option value="Medanta"></option>
            <option value="TB"></option>
            <option value="NH"></option>
            <option value="Aster"></option>
        </datalist> -->
        
        <label>Select Hospital   
            <select name="hospitals" id="cars">
                <option value="rgci">RGCI</option>
                <option value="medanta">Medanta</option>
                <option value="aster">Aster</option>
                <option value="nh">NH</option>
            </select>
        </label>
        <br>
        <br>

        <label>Patient Name   
            <input type="text" name="patient_name">
        </label>
        <br>
        <br>

        <button>Submit</button>
    </div>
</body>
</html>